body {
  font-family: 'Oswald', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-image: url("../img/bg_hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1018px;
  background-position: center ;
}

.ajustar {
  padding-top: 40rem;
}

.navbar {
  background: #660066;
}

.linea {
  height: 3px;
  border: 0;
  background-color: white;
  width: 500px;
}

.fondosec {
  background: #660066;
}

.interlineado {
  line-height: 2.5rem;
}

.barrita {
  height: 3px;
  border: 0;
  background-color: black;
  width: 150px;

}

footer{
  background: #660066;
  height: 80px;
}
.imagen01{
  width: 16rem;
}
.lineacorta{
  height: 3px;
  border: 0;
  background-color: black;
  width: 100px;
}
